section .animate{
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
}


section.show-animate .animate{
    opacity: 1;
    filter: blur(0);
}

.sec-1 .animate{
    transform: scale(.7);
    transition: 2s;
}


.sec-1.show-animate .animate{
    transform: scale(1);
}

/* .sec-2 .stats-list li {
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i));
}

.sec-2.show-animate .stats-list li{
    transform: translateX(0);
} */

.sec-2 .stats-list li {
    transform: translateY(50%); /* Move elements 100% down */
    transition-delay: calc(.2s * var(--i)); /* Keep the delay based on index */
}

.sec-2.show-animate .stats-list li {
    transform: translateY(0); /* Move back to the original position */
}

.sec-3 .animate{
    transform: scale(.7);
    /* transition: 2s; */
}


.sec-3.show-animate .animate{
    transform: scale(1);
}


.sec-4 .animate{
    transform: translateX(100%);
    transition-delay: calc(.2s * var(--i)); /* Keep the delay based on index */
}


.sec-4.show-animate .animate{
    transform: translateX(0);
}

.sec-5 .animate{
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i)); /* Keep the delay based on index */
}


.sec-5.show-animate .animate{
    transform: translateX(0);
}

.sec-6 .animate{
    transform: scale(.7);
}

.sec-6.show-animate .animate{
    transform: scale(1);
}

.sec-7 .showRight-animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-primary);
    transition: 1s;
    transition-delay: calc(.2s * var(--i));
}

.sec-7.show-animate .showRight-animate {
    width: 0;
}

.sec-8 .showRight-animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #2d2d2d;
    transition: 1s;
    transition-delay: calc(.2s * var(--i));
}

.sec-8.show-animate .showRight-animate {
    width: 0;
}

.project .animate{
    opacity: 0;
    filter: blur(5px);
    transform: scale(.7);
    transition-delay: calc(.2s * var(--i)); /* Keep the delay based on index */
}


.project.show-animate .animate{
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
}


.sec-12 .animate{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i)); /* Keep the delay based on index */
}


.sec-12.show-animate .animate{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}




.project-card{
    transition: transform 0.3s ease; /* Ajoute une transition pour rendre l'effet fluide */
}

.project-card:hover{
    transform: scale(1.06); /* Augmente la taille de l'élément à 110% */
}




.sec-13 .animate{
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i)); 
}


.sec-13.show-animate .animate{
    transform: translateX(0);
}

.sec-14 .animate{
    transform: translateX(100%);
    transition-delay: calc(.2s * var(--i)); 
}


.sec-14.show-animate .animate{
    transform: translateX(0);
}